Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
confdefs.h
configure
config.cache
config.guess
config.h.in
config.h.in~
config.log
config.status
config.sub
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
config.h
src/.deps
src/*.o
src/ices
stamp-h1
.DS_Store
